{% extends "base.html" %}

{% block title %} Project {% endblock title %}

{% block body %}

<div class="container my-4">
    <div class="text-center my-4">
  <h2> My Projects</h2>
</div>

<hr class="text-center my-4">

    <div class="row featurette">
      <div class="col-md-5">
        <h2 <span class="text-muted">Snake-Water-Gun !</span></h2>
        <p class="lead">I am pretty sure everybody knows about this game, it is as similar
            as Rock-Paper-Scissor game which was one of our childhood popular game that we
            used to play and I have coded it on Python by using inbuilt random module so
            please have a look.</p>

      </div>
        <div class="col-md-7 order-md-2">
            <div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/L1GDix9mK3Y?rel=0" title="Youtube Video" allowfullscreen></iframe>
</div>

            </div>
    </div>
</div>
<!--    Added second video-->

<div class="container my-4">
    <div class="row featurette">
      <div class="col-md-5">
        <h2 <span class="text-muted">Library System !</span></h2>
        <p class="lead">We all are connected to the Library nowadays as it plays
            a huge role in our life so I coded one library system which will be
            useful for a user to check the available books, lend the book, donate
            the book and to return the book with the help of Python and it is
            totally based on object oriented programming.</p>

      </div>
        <div class="col-md-7 order-md-2">
            <div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/ehloSPLAuS0?rel=0" title="Youtube Video" allowfullscreen></iframe>
</div>

            </div>
    </div>
    </div>
</div>

<!--    Added third video-->

<div class="container my-4">
    <div class="row featurette">
      <div class="col-md-5">
        <h2 <span class="text-muted">Desktop Assistant !</span></h2>
        <p class="lead">This is something we all want from the life if we are
            sitting on the couch and there would be someone who will take care
            of our work how amaze it would be if it happens, nothing to worry
            about as we have power of Artificial Intelligence in Python which
            serves a Desktop Assistant to us who will do it all.</p>

      </div>
        <div class="col-md-7 order-md-2">
            <div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/DoOKv364E8Y?rel=0" title="Youtube Video" allowfullscreen></iframe>
</div>

            </div>
    </div>
    </div>
</div>
<!--    Added fourth video-->

<div class="container my-4">
    <div class="row featurette">
      <div class="col-md-5">
        <h2 <span class="text-muted">Decision Review System !</span></h2>
        <p class="lead">We all watch the gentlemen game Cricket and sometimes
            decisions are really hard to give by on field umpire so he asks to
            the third umpire to watch the footage in a slow motion by using
            technology called DRS ( Decision Review System ).</p>

      </div>
        <div class="col-md-7 order-md-2">
            <div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/PMKfhdXKk70?rel=0" title="Video" allowfullscreen></iframe>
</div>

            </div>
    </div>
    </div>
</div>
<!--    Added fifth video-->

<div class="container my-4">
    <div class="row featurette">
      <div class="col-md-5">
        <h2 <span class="text-muted">Ice Cream Shop Website !</span></h2>
        <p class="lead">That is my website which is one Ice Cream Shop that
            I created with the help of web framework Django of Python
            programming language and using Bootstrap to display the content
            like templates rendering into the web browser in a form of web pages.</p>

      </div>
        <div class="col-md-7 order-md-2">
            <div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/etkHZ9csPVY?rel=0" title="Video" allowfullscreen></iframe>
</div>

            </div>
    </div>
    </div>
</div>

<!--    Added Sixth video-->

<div class="container my-4">
    <div class="row featurette">
      <div class="col-md-5">
        <h2 <span class="text-muted">Newspaper Website !</span></h2>
        <p class="lead">That is my another website which provides me the live
            news updates, I have built it with Django & Bootstrap again,
            here I am using request module to get live news from newsapi.org in a
            json data format and json module to convert it into python dictionary
            to parse the content to display it further on the templates of the website.</p>

      </div>
        <div class="col-md-7 order-md-2">
            <div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/d7m88B8kJXc?rel=0" title="Youtube Video" allowfullscreen></iframe>
</div>

            </div>
    </div>
    </div>
</div>


{% endblock body %}